.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 8em;
      margin-left: auto;
      margin-right: auto;
    }

    .form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        span {
          color: red;
        }

        label {
          font-size: 20px;
          margin-bottom: 5px;
        }

        .input {
          padding-left: 5px;
          min-width: 18em;
          height: 37px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          transition: all 250ms ease-in-out;
          margin-bottom: 20px;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #00000096;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 14px 0.3px #00000096
          }
        }
      }
    }
  }

  .footer {
    margin-top: 10px;
  }
}
