.faq {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rect {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    padding: 10px;
    margin: 20px;
}

.faq-heading {
    font-size: 40px;
}

.qs {
    font-size: 25px;
}

p {
    font-size: 15px;
}