.base-rect {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .content {
      display: flex;
      flex-direction: column;
  
      .form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
  
          .input {
            min-width: 18em;
            height: 37px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            transition: all 250ms ease-in-out;
            margin-bottom: 15px;
            padding-left: 5px;
  
            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #00000096;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 14px 0.3px #00000096
            }
          }
        }
      }
    }
  
    .footer {
      margin-top: 10px;
    }
  }
  
  .icon {
      height: 175px;
      width: 175px;
  }

  .opal-heading {
    top: 10%;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .cards {
    
  }
  
  // Main Container
  .main {
      width: 27em;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 99;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    
      .rect {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
        border-radius: 4px;
        position: relative;
        z-index: 99;
        width: 100%;
        height: auto;
        z-index: 99;
      }
  }
