.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  width: 30%;
  border-radius: 10px;
  background: #f4f4f4;
  position: relative;
  left: 410px;
  top: 60px;
  color: #333;
}
.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}